/* Your CSS goes here! */

/* fonts */

@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
/*	display: none;*/
	height: 100vh;
/*	background-image: url('https://mxdws.github.io/onepage/assets/img/mxdbackg.jpg'); */
	background-size: cover;
	background-position: center;
	text-align: left;
	font: 1em/1.65em 'Roboto', sans-serif;
	margin: 50px;
	padding: 0;
}


h1, h2, h3, nav, body > footer, body > header .description, .button, .meta {
	font-family: 'Roboto', sans-serif;

/* site header */

