/* Your CSS goes here! */

/* fonts */

@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
/*	display: none;*/
	height: 100vh;
/*	background-image: url('https://mxdws.github.io/onepage/assets/img/mxdbackg.jpg'); */
	background-size: cover;
	background-position: center;
	text-align: left;
	font: 1em/1.65em 'Roboto', sans-serif;
	margin: 0 auto;
	max-width: 50em;
	line-height: 1.5;
	padding: 4em 1em;
}


h1, h2, h3, nav, body > footer, body > header .description, .button, .meta {
	font-family: 'Roboto', sans-serif;
}

h2 {
	margin-top: 1em;
	padding-top: 1em;
}
/* site header */

